.Menu {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .Menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-weight: bold;
  }
  .Menu-list li {
    color: #fff;
    margin: 20px;
    cursor: pointer;
    font-weight: 100;
    font-size: 14px;
  }
  .Menu-logo {
    margin-right: 5px;
    height: 40px;
    width: 35px;
    cursor: pointer;
    display: none;
  }
  .Close-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    height: 40px;
    width: 30px;
    cursor: pointer;
    display: none;
  }
  .Menu-list.open {
    display: none;
  }