.App{
  display: flex;
  flex-direction: column;
}
.Menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.Menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

  color: #fff;
}
.Menu-list li {
  margin: 20px;
  cursor: pointer;
}
.Menu-logo {
  margin-right: 5px;
  height: 40px;
  width: 35px;
  cursor: pointer;
  display: none;
}
.Close-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  height: 40px;
  width: 30px;
  cursor: pointer;
  display: none;
}
.Menu-list.open {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Menu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .Menu-list li {
    margin: 10px 0;
  }
  .Menu-logo {
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
    display: block;
    z-index: 100;
  }
  .Close-menu.open {
    display: block;
    z-index: 100;
  }
  .Menu-list {
    display: none;
  }
  .Menu-list.open {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(14px);
    color: #fff;
    font-weight: 300;
  }
  .Menu-list.open li {
    margin: 25px;
    padding-bottom: 20px;
  }
  .Menu-logo.close {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  /*Not sure if it's best practise but fixes the state toggle issue :) */
  .Menu-list.open {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-weight: 500;
  }
}
